- var ehanlin = "https://www.ehanlin.com.tw"
- var ts = "20190601"
doctype html
html(lang="zh-tw")
    head
        meta(charset="UTF-8")
        title 學測總複習課程優惠方案
        link(rel="stylesheet" type="text/css" href="./css/index.css?ts=" + ts)
        link(rel='icon', href='/images/favicon.png', type='image/png')

        // Google Tag Manager
        script(type='text/javascript').
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-MXQFNDH');

        // GA and FBPixel
        script(src="https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/common_webcomponent/current/js/ehanlin-social.js")
    body
        header
            a.logo(href=ehanlin+"/index.html")
            span.tel 課程諮詢
                a(href="tel:0800008811")
                    i(class="fa fa-phone" aria-hidden="true")
                    | 0800-008811
            span.icons
                a.facebook(target="_blank" href="https://www.facebook.com/ehanlin.com.tw")
                a.line(target="_blank" href="http://line.me/R/ti/p/MtsRQz_Hn5")
        nav
            each site in ["banner", "teachers", "contents", "prices"]
                a(href="#"+site)
        section#banner
            img(src="./img/section_1.png?ts=" + ts)/
            img(src="./img/marquee.gif?ts=" + ts)/

        section
            img(src="./img/section_4.png?ts=" + ts)/
            ul.advantages
                each num in [1, 2, 3, 4, 5]
                    li.card
                        img.front(src="./img/advantage/advantage_"+num+"_f.png?ts=" + ts)/
                        img.back(src="./img/advantage/advantage_"+num+"_b.png?ts=" + ts)/
        section#teachers
            img(src="./img/section_5.png?ts=" + ts)/
            - var teacherNums = [9, 5, 2, 7, 11, 8, 3, 1, 4, 6, 10]
            ul.teachers
                each num in teacherNums
                    li: span: img(src="./img/teacher/teacher_"+num+".png?ts=" + ts)/
            div
                button.left: i(class="fa fa-angle-double-left" aria-hidden="true")
                button.right: i(class="fa fa-angle-double-right" aria-hidden="true")
            ul.teacher-infos
                each num in teacherNums
                    li: img(src="./img/teacher/teacher_info_"+num+".png?ts=" + ts)

        section#contents: img(src="./img/section_6.png?ts=" + ts)/

        section#prices
            img(src="./img/section_7.png?ts=" + ts)/
            a.enter(target="_blank" href= ehanlin + "/app/online-showcase/product-list.html#HS&GSAT&EG&all")
            a.enter(target="_blank" href= ehanlin + "/app/online-showcase/product-list.html#HS&GSAT&EG&all")
            a.enter(target="_blank" href= ehanlin + "/app/online-showcase/product-package.html?id=y109_sh_rev_naall_group")
            a.enter(target="_blank" href= ehanlin + "/app/online-showcase/product-list.html#HS&GSAT&EG&all")
        footer
            img(src="./img/single.png?ts=" + ts)/
            a(target="_blank" href= ehanlin + "/app/online-showcase/product-list.html#HS&GSAT&all&all")

            img(src="./img/footer.png?ts=" + ts)/
            a(target="_blank" href=ehanlin+"/event/info/")

        script(type="text/javascript" src="./js/index.js?ts=" + ts)
